.heatmap-detail-settings-toolbar {
  .heatmap-dimensions {
    line-height: 32px;
    float: left;
    label {
      float: left;
      margin-right: 5px;
    }
    .form-group {
      width: 90px;
      float: left;
    }
    .separator {
      float: left;
      margin: 0 5px;
    }
    input {
      text-align: right;
      padding: 6px 0 6px 5px;
      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        margin: 0 0 0 5px;
      }
    }
    .input-group-addon{
      padding: 6px 5px;
    }
  }

  .heatmap-type{
    line-height: 32px;
    float: left;
    margin-left: 20px;
    label {
      margin-right: 5px;
    }
  }

  .show-heatmap{
    margin-left: 10px;
  }
}
