.heatmap-detail {
  height: 100%;

  .iframe-wrapper {
    background-color: darkgray;
    height: 100%;
  }

  iframe {
    height: 500px;
    width: 320px;
    margin: 10px auto;
    display: block;
    border: 1px dashed silver;
    box-sizing: content-box;

    padding: 2px;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}