.heatmap-detail {
  .iframe-wrapper{
    background-color: darkgray;
  }
  iframe{
    height: 500px;
    width: 320px;
    margin: 10px auto;
    display: block;
    border: 1px dashed silver;
    box-sizing: content-box;

    padding: 2px;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}